.posts{
    display: flex;
    justify-content: center;
    gap: 20px 20px;
    flex-wrap: wrap;
}
.post{
    background-color: grey;
    text-align: center;
    width: 250px;
    height: 200px;
    cursor: pointer;
}
