.Articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
}

.ArticleParent{
    display: flex;
    justify-content: center;
    gap: 20px 20px;
    flex-wrap: wrap;

}