.Card{
    background-color: grey;
    text-align: center;
    width: 250px;
    height: 225px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    border-radius: 24px;
}